---
import BaseLayout from '../components/BaseLayout.astro';
---
<BaseLayout>
    <section id="intro">
        <h1>Hello!</h1>
        <p>
            My name is Cole Dorman, I am currently a
            <a href="https://www.rrc.ca/">Red River College</a>
            student studying
            <a href="https://www.rrc.ca/explore/program/game-development-programming/">Game Development</a>
            as well as leading projects in our class.
        </p>
        <p>
            I am passionate about all facets of game development, from design to programming. I have experience
            in both Unity and Unreal Engine, and I am currently learning C# and C++. I also enjoy aspects of
            project management, as it's very rewarding to help everyone come together to create something great.
        </p>
        <p>
            I believe balancing is an extremely core component of any game, and without it even games filled with
            content can feel empty. I also believe it is the developer's job to account for human nature of
            tending to "optimize the fun out of games", and I try to bring that into my projects.
        </p>
        <p>
            Outside of work, I enjoy playing board games or video games, as well as mountain biking & trail riding.
            Beyond those I also enjoy hiking and the scent of forest.
        </p>
    </section>
</BaseLayout>