---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
    <section>
        <h1>Experience</h1>
        <h2>Junior Game Developer</h2>
        <h3>
            <a href="https://battlecruisersgame.com/" target="_blank">Battlecruisers
                - Mecha Weka</a>
        </h3>
        <h4>July 2019 - July 2020</h4>
        <p>During my time working at Mecha Weka I had lots of great practical
            experience, and extensive
            experience working in a collaborative Environment with other
            developers.</p>
        <ul>
            <li>Building and deploying games through steamworks & google play
                console
            </li>
            <li>Community management & engagement, player feedback surveys and
                analytics
            </li>
            <li>Extensive work on bug fixing from player feedback</li>
            <li>Some localization work via Unity</li>
            <li>Leadership, I had the chance to lead the team through a sprint
                and I learned so much!
            </li>
        </ul>
    </section>
</BaseLayout>
