---
import BaseLayout from "../components/BaseLayout.astro"
import ProjectCard from "../components/ProjectCard.astro"
---
<BaseLayout>
    <section id="projects">
        <h1>Projects</h1>
        <h3>Mobile friendly</h3>
        <p>
            Select one of the games below to try out demos and read about my role in the project.
            This section contains mobile friendly demos.
        </p>
        <ProjectCard
                title="Miku's Mall Madness"
                previewImage="/images/MikusMallMadness/MikusMallMadnessPreview.png"
                demoImage="/images/MikusMallMadness/MikusMallMadnessDemo.gif"
                link="MikusMallMadness/index.html"
        />
        <h3>Desktop/Laptop only</h3>
        <p>
            These projects will only work with adequate screen resolutions and a keyboard.
        </p>
        <!-- end of mobile friendly projects grid-->
        <ProjectCard
                title="Math Platformer"
                previewImage="/images/MathPlatformer/platformerPreview.png"
                demoImage="/images/MathPlatformer/platformer.gif"
                link="MathPlatformer/index.html"
        />
    </section>
</BaseLayout>