---
// src/components/Footer.astro
---
<footer>
    <h2>My socials:</h2>
    <div class="socials">
        <button onclick="window.open('https://github.com/Icewav3', '_blank')">
            <i class="fa-brands fa-github fa-lg"></i> GitHub
        </button>
        <button onclick="window.open('https://www.linkedin.com/in/cole-dorman-313b0a238/', '_blank')">
            <i class="fa-brands fa-linkedin fa-lg"></i> LinkedIn
        </button>
    </div>
</footer>
<style>
	footer {
		justify-content: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: var(--padding-size);
		/* background-color: var(--container-bg-color); */
		color: var(--primary-text-color);
	}

	footer h2 {
		color: var(--primary-text-color);
		font-weight: bold;
		margin-bottom: calc(var(--padding-size) / 2);
	}

	footer .socials {
		display: flex;
		justify-content: center;
		gap: 20px;
	}
</style>