---
// src/components/Header.astro
---
<header>
    <nav class="button-container">
        <button onclick="window.location.href='/'">Overview</button>
        <button onclick="window.location.href='/projects'">Projects</button>
        <button onclick="window.location.href='/experience'">Experience</button>
        <button onclick="window.location.href='/aboutMe'">About me</button>
    </nav>
</header>