---
import Button from './Button.astro'; // Import the reusable Button component
---
<header>
    <nav class="button-container">
        <Button text="Overview" href="/"/>
        <Button text="Projects" href="/projects"/>
        <Button text="Employment" href="/employment"/>
        <Button text="About me" href="/aboutMe"/>
    </nav>
</header>