---
import '../assets/global.css';
import '../assets/fontawesome/css/fontawesome.css';
import '../assets/fontawesome/css/brands.css';
import './BaseLayout.css'

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// Define props for the layout
export interface Props {
    title?: string; // Optional title prop
}

// Use Astro.props to get the title, provide a default
const {title = "Cole Dorman's Portfolio"} = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>{title}</title>
</head>
<body>
<div class="container">
    <div class="background-light"></div>
    <div class="background-light"></div>

    <!-- Allows overriding the header via a slot -->
    <slot name="header">
        <Header/> <!-- Default Header if no slot is provided -->
    </slot>

    <main>
        <slot/> <!-- Main page content -->
    </main>

    <!--sticky footer-->
    <div class="push"></div>

    <!-- Allows overriding the footer via a slot -->
    <slot name="footer">
        <Footer/> <!-- Default Footer if no slot is provided -->
    </slot>

    <!-- Site creator note -->
    <div class="creator-note">
        <p>Design & code by Cole Dorman</p>
    </div>
</div>
</body>
</html>

<style>
	.creator-note {
		text-align: center;
		font-size: 0.8rem;
		opacity: 0.7;
		margin-top: -20px;
		padding-bottom: 10px;
	}
</style>
